*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: Roboto, Arial, Sans-Serif;
}

html {
    box-sizing: border-box;
}

.accordion {
    padding: 0;
    list-style: none;
}

.accordion-section {
    border-bottom: .125rem solid #cacaca;
}

.accordion-section:first-child {
    border-top: .125rem solid #cacaca;
}

.accordion-control {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
}

.accordion-control-icon {
    float: right;
}

.accordion-control-icon::after {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .9rem;
    padding-right: .9rem;
    border-radius: 50%;
    background: #0079c1;
    color: #fff;
    font-weight: bold;
    content: "-";
}

.closed>.accordion-control-icon::after {
    padding-left: .75rem;
    padding-right: .75rem;
    content: "+";
}

.accordion-control,
.accordion-content {
    padding: 1rem;
}

.accordion-content[aria-hidden="true"] {
    display: none;
}

.accordion-content:focus {
    outline: none;
}